<!DOCTYPE html>
<html lang="es">
<head>
<style>
.div2{
background-color: #D6DBDF;
margin: 2%
}

div {
    border: none;
	padding:10px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #F7F7F7;
}

body{
background-color: #F2F2F2;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="server.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    Correo electronico:<br>
    <input type="text" ng-model="email"><br>
    Contraseña:<br>
    <input type="text" ng-model="password"><br>
	Confirmar contraseña:<br>
    <input type="text" ng-model="confirmPassword"><br>
	Pregunta secreta:<br>
    <!--<input type="integer" ng-model="secretQuestion"><br>-->
	<select ng-model="secretQuestion">
    <option value="1" selected>Nombre de la primer mascota.</option>
    <option value="2">Nombre de la ciudad donde nació.</option>
    <option value="3">Marca de su primer vehículo.</option>
    <option value="4">Color preferido.</option>
    <option value="5">Comida preferida.</option>
    <option value="6">Segundo apellido de su madre.</option>
	</select><br> 
	Respuesta secreta:<br>
    <input type="text" ng-model="secretAnswer"><br>
	Agencia:<br>
    <input type="text" ng-model="organization"><br>
	Ciudad:<br>
    <input type="text" ng-model="city"><br>
    <br><br>
    <button style="height:30px;width:24%;background-color:#1E90FF;color:white" type="submit" ng-click="register()">Registrarse</button>
  </form>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http, $window) {


    $scope.register = function() {
						console.log('inside register fn');
						console.log($scope.secretQuestion);

                        $http({method: 'GET',
						url : "/db/insert/person/"+$scope.email+"/"+
						$scope.password+"/"+
						$scope.secretQuestion+"/"+
						$scope.secretAnswer+""
						}).success(function(data, status) {  
                                    $scope.dataset = data;
                            }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
						  console.log(dataset);
                      }); 	
					  
					  
					  
					    $http({method: 'GET',
						url : "/db/get/person/"+$scope.email+""
						}).success(function(data, status) {  
                                    $scope.dataset = data;
									$scope.personid = data.personid;
									console.log($scope.personid +"   OH YES!")
                            }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
						  //console.log(dataset);
						  //console.log("dataset"+$scope.dataset[0])
                      }); 
					  
						//console.log($scope.personid)

					    $http({method: 'GET',
						url : "/db/insert/users/"+$scope.personid+"/"+ //undefined
						$scope.organization+"/"+
						$scope.city+""
						}).success(function(data, status) {  
                                    $scope.dataset = data;
                            }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
						  console.log(dataset);
                      }); 					  
		
    };
});
</script>

</body>
</html>
