<section id="adminView">
    <h1>Administrador</h1>
    <div ng-init="adminViewOwner()">
        <h3>Favor de seleccionar un Refugio</h3> </div> <span class="help-block"></span>
    <br>
    <br>
    <div class="container">
    <div  ng-repeat="business_profile  in uprmeshipplatform" ng-click="adminViewBusiness()">
        <div class="thumbnail">
            <h5 ng-click= "help(business_profile)" class="caption">
        {{business_profile.name}}
        </h5> </div>
    </div>
    </div>
    <!-- 
    <div class="col-xs-4">
        <label for="inputsm">Nombre del Negocio:</label>
        <input class="form-control input-sm" id="inputsm" type="text"> </div> 
    <center>
        <div class="form-group col-xs-12">
            <br>
            <button type="submit" class="btn btn-success btn-lg" >Ver negocios </button>

        </div>
<!--    </center>-->
    <br> </section>